<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.lu.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.lu.pojo.User">
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_password" jdbcType="VARCHAR" property="userPassWord" />
        <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber" />
    </resultMap>
    <select id="queryUserList" resultMap="BaseResultMap">
        select * from user;
    </select>

    <select id="queryUserById" resultMap="BaseResultMap">
        select * from user where user_id = #{id};
    </select>
    <select id="queryUserByName" resultMap="BaseResultMap">
        select * from user where user_name = #{name};
    </select>

    <insert id="addUser" parameterType="User">
        insert into user (user_id, user_name, user_password,phonenumber) values (#{userId},#{userName},#{userPassWord},#{phonenumber});
    </insert>

    <update id="updateUser" parameterType="User">
        update user set user_name=#{userName},user_password = #{userPassWord}, phonenumber = #{phonenumber} where user_id = #{userId};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where user_id = #{userId}
    </delete>
</mapper>